<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Creacion de Categorias</h1>

	<h2>HTML Forms</h2>

	<form th:action="@{/categorias/save}" method="post">
  <label for="fname">Nombre:</label><br>
  <input type="text" id="fname" name="nombre" value=""><br>
  <label for="lname">Descripcion:</label><br>
  <input type="text" id="lname" name="descripcion" value=""><br><br>
  <input type="submit" value="Guardar">
</form> 


</body>
</html>